* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

html,
body {
  height: 100%;
}

body {
      text-decoration: none;
    overflow-x: hidden;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #333;
  background: #fff;
}

body::-webkit-scrollbar {
  display: none;
}


.clear {
  clear: both;
}

.logo {
  padding: 0 2%;
}

header .logo img {
  float: left;
  width: 310px;
  height: 160px;
}

header {
  height: 100px;
  padding: 0 2%;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 30;
}

header .logo img {
  margin-top: 10px;
}

/* =========================
   MENU MOBILE
========================= */
nav.menu-mobile {

  display: none;
  /* aparece só no mobile */
  width: 100%;
  padding: 0 2%;
  text-align: center;
}

/* =========================
   BOTÃO DO MENU
========================= */
nav.menu-mobile button {
  background: none;
  border: none;
  padding: 10px;
  margin-left: auto;
  /* joga o botão para a direita */
  display: block;
  cursor: pointer;
}

/* ÍCONE */
nav.menu-mobile button img.icone {
  width: 28px;
  height: 28px;
  display: block;
  margin-bottom: 15px;
}

/* =========================
   LISTA DO MENU (FECHADO)
========================= */
nav.menu-mobile ul {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ebeaea;
  list-style: none;
  padding: 0 2%;
  margin: 0;
  z-index: 999;
  border-radius: 10px;
  border: 1px solid color #ebeaea;
  overflow: hidden;
  
}

/* =========================
   MENU ABERTO
========================= */
nav.menu-mobile ul.active {
  display: block;
}

/* =========================
   ITENS
========================= */
nav.menu-mobile ul li {
  width: 100%;
}

/* LINKS */
nav.menu-mobile ul li a {
  display: block;
  white-space: normal;
  word-break: break-word;
  padding: 14px 0;
  text-decoration: none;
  text-transform: uppercase;
  color: #555;
  text-align: center;
  position: relative;
  transition: color 0.3s ease;
}

/* =========================
   LINHA CONTÍNUA
========================= */
nav.menu-mobile ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #cfcfcf;
  transition: background-color 0.3s ease;
}

/* =========================
   HOVER
========================= */
nav.menu-mobile ul li a:hover {
  color: #698293;
}

nav.menu-mobile ul li a:hover::after {
  background-color: #698293;
}


/* =========================
   RESPONSIVO (EXEMPLO)
========================= */



header nav.menu-desktop {
  float: right;
}

header nav.menu-desktop ul {
  padding: 45px 0;
  list-style-type: none;
}

header nav.menu-desktop ul li {
  float: left;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0 20px;
}

header nav ul li a {
  text-decoration: none;
  color: rgb(124, 124, 124);
}



/*---contato---*/

section.contato {
  padding: 60px 2%;
  background: #f7f8f9;
  border-radius: 25px;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 30px;
  transform: tranform 0.3s ease;

}

section.contato:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

section.contato .container>h2 {

  color: #698293;
  text-align: center;
  font-size: 22px;
}

section.contato p {
  font-size: 12px;
  color: #4b4b4b;
  text-align: center;
  padding: 2px;
}

section.contato form {
  width: 100%;
  margin: 30px auto;
  max-width: 500px;
}

.form-wraper {
  float: left;
  padding: 0 10px;
  margin-top: 10px;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.form-wraper span {
  font-size: 15px;
  color: #b4b4b4;
}

.form-wraper input[type=text],
.form-wraper input[type=email],
.form-wraper input[type=nome] {
  width: 100%;
  height: 35px;
  line-height: 35px;
  padding-left: 9px;
  border: 1px solid #dadada;
  margin-top: 8px;
  border-radius: 5px;
}

.form-wraper textarea {
  width: 100%;
  margin-top: 8px;
  padding: 8px;
  height: 121px;
  resize: none;
  border: 1px solid #dadada;
  border-radius: 5px;
}

.form-wraper input[type=submit] {
  width: 170px;
  display: inline-block;
  height: 45px;
  border: 0;
  background: #688293;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.form-wraper input[type=submit]:hover {
  transition: transform 0.8s ease;
}

.form-wraper input[type=submit]:hover {
  transform: scale(1.01);
  border: 1px solid #749cb8;
}



/* Remove o contorno padrão do navegador e aplica a cor desejada no foco */
input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #688293;
  /* Borda na cor que você pediu */
  box-shadow: 0 0 6px rgba(104, 130, 147, 4.0);
  /* Sombra suave da mesma cor */
  transition: 0.2s ease-in-out;
}


/*contato noticias*/
/*  ----------------------  */
.noticias {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f5f5f5;
  transform: tranform 0.3s ease;
  border-radius: 25px;
}

.noticias:hover {
  transform: scale(1.01);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.35);
}

.noticias h2 {
  text-align: center;
  color: #688293;
  margin-bottom: 20px;
}

.news-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 15px;
}

.news-container article {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
}

.news-container article:hover {
  transform: scale(1.02);
}

.news-img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.news-container h3 {
  font-size: 16px;
  margin: 5px 0;
}

.news-container p {
  font-size: 14px;
  color: #444;
}

.news-container a {
  display: inline-block;
  margin-top: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #688293;
}

/*fim contato noticias*/


section.social {
  padding: 70px 0;
}

.instagram-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background: #98a5ae;

}

.instagram-chamada p {
  line-height: 23px;
  color: white;
  padding: 10px 0;
  font-size: 13px;
}

.mosaico-social {
  float: left;
  width: 100%;
}

.img-mosaico-single-social {
  float: left;
  width: calc(100% / 9);
  padding-top: calc(100% / 9);
  background-color: rgb(210, 210, 210);
  border: 3px solid white;
}

.img-mosaico-single-social {
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

.facebook-chamada {
  float: left;
  width: 100%;
  text-align: center;
  padding: 40px 0;
  background: #688293;
}

.facebook-chamada a img {
  background-size: 25px;
}

.facebook-chamada p {
  line-height: 23px;
  color: white;
  padding: 10px 0;
  font-size: 13px;
}


footer {
  padding: 60px 2%;
  background-color: #688293;
  text-align: center;
}

footer .container {
  max-width: 1100px;
  margin: 0 auto;
}

footer .footer-block {
  float: left;
  width: 33.3%;
}

.footer-block a {
  text-decoration: none;
  font-weight: normal;
  color: white;
  font-size: 14px;
}

.footer-block h2 {
  color: white;
  font-weight: normal;
  font-size: 18px;
  margin: 0;
}

.footer-block p {
  margin-top: 8px;
  color: white;
  font-size: 14px;
}



@media screen and (max-width:855px) {
  nav.menu-desktop {
    display: none;
  }

  nav.menu-mobile {
    display: block;
  }

  body{
        box-shadow: none;
    }

}

@media screen and (max-width: 768px) {


  .img-mosaico-single-social {
    width: calc(100% / 6);
    padding-top: calc(100% / 6);
  }

  .mosaico-social>div:nth-of-type(1n+7) {
    display: none;
  }



  footer {
    text-align: center;
  }

  footer .footer-block {
    float: none;
    width: 100%;
    margin: 30px 0;
  }

}

@media (max-width: 600px) {

  section.perfil-container img {
    width: 65%;
    display: inline-block;
  }

  section.empreiteiras-japao .box-empreiteira {
    flex-direction: column;

  }

  section.empreiteiras-japao .img-empreiteira {
    width: 100%;
  }

  section.empreiteiras-japao .img-empreiteira1 {
    width: 100%;
  }

  /*section.empreiteiras-japao .img-empreiteira1,
  section.empreiteiras-japao .img-empreiteira2,
  section.empreiteiras-japao .img-empreiteira3,
  section.empreiteiras-japao .img-empreiteira4,
  section.empreiteiras-japao .img-empreiteira5,
  section.empreiteiras-japao .img-empreiteira6,
  section.empreiteiras-japao .img-empreiteira7,
  section.empreiteiras-japao .img-empreiteira8,
  section.empreiteiras-japao .img-empreiteira9,
  section.empreiteiras-japao .img-empreiteira10,
  section.empreiteiras-japao .img-empreiteira11{
    width: 100%;
  }*/
  /* essa forma tem que escrever todas as tags que quer atacar, porem separadas por virgulas*/

  [class^="img-empreiteira"] {
    /* dessa forma é melhor pq já pego todas as class que começa com o nome da mesma*/
    width: 100%;
  }


  section.empreiteiras-japao .texto-empreiteira {
    flex: 2 1 200px;
    /* texto ocupa mais espaço */
    color: #4b4b4b;
    /*background-color: #4b4b4b;*/

  }

  section.sobre-japao .img-sobrejapao,
  section.sobre-japao .img-sobrejapao1,
  section.sobre-japao .img-sobrejapao2,
  section.sobre-japao .img-sobrejapao3 {
    width: 60%;
    display: inline-block;
  }



}

@media screen and (max-width:580px) {
  section.perfil-container .img-perfil {
    width: 80%;
  }


  section.br-container .img-perfil {
    width: 80%;
  }

  section.sobre-mim img {
    max-width: 300px;

  }


}

@media screen and (max-width: 526px) {

  section.oferta-trabalho .comum {
    float: none;
    width: 80%;
    margin: 0 auto;
  }

  /* Volta a mostrar o item escondido*/
  section.oferta-trabalho .comum:nth-child(10) {
    display: block;
  }

}

@media screen and (max-width:480px) {


  .img-mosaico-single-social {
    width: calc(100% / 4);
    padding-top: calc(100% / 4);
  }

  .mosaico-social>div:nth-of-type(1n+5) {
    display: none;
  }


}