section.social {
    padding: 70px 0;
}

.instagram-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #98a5ae;

}

.instagram-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}

.mosaico-social {
    float: left;
    width: 100%;
}

.img-mosaico-single-social {
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: rgb(210, 210, 210);
    border: 3px solid white;
}

.img-mosaico-single-social {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #688293;
}

.facebook-chamada a img {
    background-size: 25px;
}

.facebook-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}


footer {
    padding: 60px 2%;
    background-color: #688293;
    text-align: center;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
}

footer .footer-block {
    float: left;
    width: 33.3%;
}

.footer-block a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.footer-block h2 {
    color: white;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.footer-block p {
    margin-top: 8px;
    color: white;
    font-size: 14px;
}



@media screen and (max-width: 900px) {

    section.oferta-trabalho .comum {
        width: 50%;
    }

    /* Esconde o último item para ficar par (9 → 8) */
    section.oferta-trabalho .comum:nth-child(10) {
        display: none;
    }

    section.oferta-trabalho .saigo {
        display: block;
    }

}

@media screen and (max-width:855px) {
    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

}


@media screen and (max-width:800px) {

    section.curso .container .img-curso6,
    section.curso .container .img-curso7,
    section.curso .container .img-curso8,
    section.curso .container .img-curso9,
    section.curso .container .img-curso10,
    section.curso .container .img-curso11,
    section.curso .container .img-curso12,
    section.curso .container .img-curso13 {
        flex: none;
        display: block;
        width: 70%;
        height: 200px;
        margin: 0 auto 10px auto;
        background-size: contain;
    }

    section.curso .texto-curso {
        flex: 2 1 500px;
        /* texto ocupa mais espaço */
        color: #4b4b4b;

        /*background-color: #4b4b4b;*/
    }

    /*-----      secao engajamento    -----*/
    section.oferta-trabalho .comum {
        width: 50%;
    }

}




@media screen and (max-width:768px) {

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

    section.servicos>.container {
        flex-direction: column;
        margin-top: 30px;
    }

    section.servicos>.container .box-servicos:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(2) {
        width: 95%;
        max-width: 380px;
        padding: 50px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos {
        background-image: none;

    }

    section.perfil-container .perfil-wraper2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.perfil-container img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    section.perfil-container .texto-perfil {
        width: 90%;
        margin-top: 25px;
        padding: 0;
    }

    section.perfil-container .texto-perfil a {
        display: block;
        margin: 0 auto;
    }



    section.videos .box-videos {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding-top: calc(90% * 0.6);
        border: 3px solid white;
    }



    /*---curiosidade japao---*/

    section.sobre-japao .container .texto-curiosidade {
        width: 80%;
        margin: 0 auto;
    }

    section.sobre-japao .japao-wraper .japao-texto {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;

    }

    section.sobre-japao .container .texto-curiosidade h2 {
        color: #698293;
        font-size: 18px;
        text-transform: uppercase;
    }

    section.sobre-japao .container .texto-curiosidade p {
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }

    section.sobre-japao .japao-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 50%;
        display: inline-block;
    }



    section.sobre-japao .japao-texto {
        width: 80%;
        margin: 0 20px;
        margin-top: 25px;
    }

    .img-mosaico-single-social {
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaico-social>div:nth-of-type(1n+7) {
        display: none;
    }



    footer {
        text-align: center;
    }

    footer .footer-block {
        float: none;
        width: 100%;
        margin: 30px 0;
    }

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }


    section.br-container .br-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.br-container .img-perfil {
        width: 50%;
        display: inline-block;
    }

    section.br-container .texto-perfil-br {
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }

}

@media screen and (max-width:700px) {

    section.sobre-japao .japao-wraper .img-sobrejapao,
    section.sobre-japao .japao-wraper .img-sobrejapao1,
    section.sobre-japao .japao-wraper .img-sobrejapao2,
    section.sobre-japao .japao-wraper .img-sobrejapao3 {
        width: 90%;
    }

    section.sobre-japao .japao-texto p {
        width: 100%;
        font-size: 16px;

    }
}


@media (max-width: 600px) {



    section.empreiteiras-japao .box-empreiteira {
        flex-direction: column;

    }

    section.empreiteiras-japao .img-empreiteira {
        width: 100%;
    }

    section.empreiteiras-japao .img-empreiteira1 {
        width: 100%;
    }

    [class^="img-empreiteira"] {
        /* dessa forma é melhor pq já pego todas as class que começa com o nome da mesma*/
        width: 100%;
    }


    section.empreiteiras-japao .texto-empreiteira {
        flex: 2 1 200px;
        color: #4b4b4b;


    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 60%;
        display: inline-block;
    }



}

@media screen and (max-width:580px) {
    section.sobre-mim img {
        max-width: 300px;

    }


}

@media screen and (max-width: 548px) {

    section.oferta-trabalho .texto-oferta h2 {
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {


    section.videos .box-videos {
        width: 100%;
        padding-top: calc(100% * 0.6);
    }

    section.sobre-mim img {
        max-width: 500px;
        padding: 15px 0;

    }

    .img-mosaico-single-social {
        width: calc(100% / 4);
        padding-top: calc(100% / 4);
    }

    .mosaico-social>div:nth-of-type(1n+5) {
        display: none;
    }

section.social {
    padding: 70px 0;
}

.instagram-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #98a5ae;

}

.instagram-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}

.mosaico-social {
    float: left;
    width: 100%;
}

.img-mosaico-single-social {
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: rgb(210, 210, 210);
    border: 3px solid white;
}

.img-mosaico-single-social {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #688293;
}

.facebook-chamada a img {
    background-size: 25px;
}

.facebook-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}


footer {
    padding: 60px 2%;
    background-color: #688293;
    text-align: center;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
}

footer .footer-block {
    float: left;
    width: 33.3%;
}

.footer-block a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.footer-block h2 {
    color: white;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.footer-block p {
    margin-top: 8px;
    color: white;
    font-size: 14px;
}

}

@media screen and (max-width: 900px) {

    section.oferta-trabalho .comum {
        width: 50%;
    }

    /* Esconde o último item para ficar par (9 → 8) */
    section.oferta-trabalho .comum:nth-child(10) {
        display: none;
    }

    section.oferta-trabalho .saigo {
        display: block;
    }

}

@media screen and (max-width:855px) {
    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

}


@media screen and (max-width:800px) {

    section.curso .container .img-curso6,
    section.curso .container .img-curso7,
    section.curso .container .img-curso8,
    section.curso .container .img-curso9,
    section.curso .container .img-curso10,
    section.curso .container .img-curso11,
    section.curso .container .img-curso12,
    section.curso .container .img-curso13 {
        flex: none;
        display: block;
        width: 70%;
        height: 200px;
        margin: 0 auto 10px auto;
        background-size: contain;
    }

    section.curso .texto-curso {
        flex: 2 1 500px;
        /* texto ocupa mais espaço */
        color: #4b4b4b;

        /*background-color: #4b4b4b;*/
    }

    /*-----      secao engajamento    -----*/
    section.oferta-trabalho .comum {
        width: 50%;
    }

}




@media screen and (max-width:768px) {

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

    section.servicos>.container {
        flex-direction: column;
        margin-top: 30px;
    }

    section.servicos>.container .box-servicos:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(2) {
        width: 95%;
        max-width: 380px;
        padding: 50px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos {
        background-image: none;

    }

    section.perfil-container .perfil-wraper2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.perfil-container img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    section.perfil-container .texto-perfil {
        width: 90%;
        margin-top: 25px;
        padding: 0;
    }

    section.perfil-container .texto-perfil a {
        display: block;
        margin: 0 auto;
    }



    section.videos .box-videos {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding-top: calc(90% * 0.6);
        border: 3px solid white;
    }



    /*---curiosidade japao---*/

    section.sobre-japao .container .texto-curiosidade {
        width: 80%;
        margin: 0 auto;
    }

    section.sobre-japao .japao-wraper .japao-texto {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;

    }

    section.sobre-japao .container .texto-curiosidade h2 {
        color: #698293;
        font-size: 18px;
        text-transform: uppercase;
    }

    section.sobre-japao .container .texto-curiosidade p {
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }

    section.sobre-japao .japao-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 50%;
        display: inline-block;
    }



    section.sobre-japao .japao-texto {
        width: 80%;
        margin: 0 20px;
        margin-top: 25px;
    }

    .img-mosaico-single-social {
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaico-social>div:nth-of-type(1n+7) {
        display: none;
    }



    footer {
        text-align: center;
    }

    footer .footer-block {
        float: none;
        width: 100%;
        margin: 30px 0;
    }

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }


    section.br-container .br-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.br-container .img-perfil {
        width: 50%;
        display: inline-block;
    }

    section.br-container .texto-perfil-br {
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }

}

@media screen and (max-width:700px) {

    section.sobre-japao .japao-wraper .img-sobrejapao,
    section.sobre-japao .japao-wraper .img-sobrejapao1,
    section.sobre-japao .japao-wraper .img-sobrejapao2,
    section.sobre-japao .japao-wraper .img-sobrejapao3 {
        width: 90%;
    }

    section.sobre-japao .japao-texto p {
        width: 100%;
        font-size: 16px;

    }
}


@media (max-width: 600px) {



    section.empreiteiras-japao .box-empreiteira {
        flex-direction: column;

    }

    section.empreiteiras-japao .img-empreiteira {
        width: 100%;
    }

    section.empreiteiras-japao .img-empreiteira1 {
        width: 100%;
    }

    [class^="img-empreiteira"] {
        /* dessa forma é melhor pq já pego todas as class que começa com o nome da mesma*/
        width: 100%;
    }


    section.empreiteiras-japao .texto-empreiteira {
        flex: 2 1 200px;
        color: #4b4b4b;


    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 60%;
        display: inline-block;
    }



}

@media screen and (max-width:580px) {
    section.sobre-mim img {
        max-width: 300px;

    }


}

@media screen and (max-width: 548px) {

    section.oferta-trabalho .texto-oferta h2 {
        font-size: 16px;
    }
}

@media screen and (max-width:480px){


    section.videos .box-videos {
        width: 100%;
        padding-top: calc(100% * 0.6);
    }

    section.sobre-mim img {
        max-width: 500px;
        padding: 15px 0;

    }

    .img-mosaico-single-social {
        width: calc(100% / 4);
        padding-top: calc(100% / 4);
    }

    .mosaico-social>div:nth-of-type(1n+5) {
        display: none;
    }
}