/* ===== LOGO ===== */
section.logo-hanamatsuri {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2%;
}

section.logo-hanamatsuri .container .img-hanamatsuri-logo {
    width: 100%;
    aspect-ratio: 7 / 3;
    background-image: url('../images/hinamatsuri-festival.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    margin-top: 20px;
}

/* ===== CONTEÚDO ===== */
section.hanamatsuri {
    max-width: 1000px;
    padding: 0 2%;
    margin: 20px auto;
}

section.hanamatsuri .container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    background: #fff;
    padding: 25px;
}

/* ===== TEXTO ===== */
section.hanamatsuri .texto-hanamatsuri {
    width: 100%;
}

/* TÍTULO */
section.hanamatsuri h1,h2 {
    color: #698293;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

/* SUBTÍTULOS */
section.hanamatsuri h3 {
    font-size: 18px;
    color: #333;
    margin: 25px 0 10px;
    border-left: 4px solid #698293;
    padding-left: 8px;
}

/* PARÁGRAFOS */
section.hanamatsuri p {
    color: #4b4b4b;
    font-size: 16px;
    line-height: 1.7;
    margin-bottom: 15px;
}

/* LISTAS */
section.hanamatsuri ul {
    margin: 15px 0;
    padding-left: 20px;
}

section.hanamatsuri li {
    margin-bottom: 8px;
    line-height: 1.6;
    color: #444;
}

.atualizacao{
    font-size: 13px;
    color: #777;
    text-align: center;
    margin: 40px 0 20px 0;
    font-style: italic;
}

/* ===== RESPONSIVO ===== */
@media screen and (max-width:880px) {

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }
}

@media screen and (max-width:786px) {

    section.hanamatsuri .container {
        padding: 20px;
    }

}