section.cultura-japao {
  padding: 20px 10px;
  
}

section.cultura-japao .container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 2%;
}

/* Título */
section.cultura-japao h1,h2 {
  font-size: 32px;
  margin-bottom: 25px;
  color: #698293;
  font-weight: 700;
}

/* Texto */
section.cultura-japao p {
  font-size: 18px;
  line-height: 1.8;
  color: #555;
  margin-bottom: 20px;
}

/* Destaques */
section.cultura-japao strong {
  color: #000;
}

section.cultura-japao em {
  color: #c0392b;
  font-style: normal;
  font-weight: 600;
}

section.cultura-japao ul {
  list-style-position: inside;
}

section.cultura-japao ul li {
  padding: 5px 0;
}

/* ============================= */
/* ESTILO DIFERENTE PARA CADA UMA */
/* ============================= */

section.matsuri {
  
  border-top: 1px solid #eee;
}

section.hanabi {
  background: #ffffff;
  border-top: 1px solid #eee;
}

/*===================== matsuri  ===============*/


section.matsuri-logo {
  padding: 50px 2%;
}

section.matsuri-logo .container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: block;
}

section.matsuri-logo img {
  width: 100%;
  max-width: 700px !important;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

.atualizacao{
    font-size: 13px;
    color: #777;
    text-align: center;
    margin: 40px 0 20px 0;
    font-style: italic;
}

/* ----- -------*/




