/* padrao pra todos os css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

html,
body {
    height: 100%;
}

body {
    text-decoration: none;
    overflow: -moz-scrollbars-none;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    color: #333;
    background: #fff;
}

body::-webkit-scrollbar {
    display: none;
}


.clear {
    clear: both;
}

.logo {
    padding: 0 2%;
}

header .logo img {
    float: left;
    width: 310px;
    height: 160px;
}

header {
    height: 100px;
    padding: 0 2%;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 30;
}

header .logo img {
    margin-top: 10px;
}

/* =========================
   MENU MOBILE
========================= */
nav.menu-mobile {

    display: none;
    /* aparece só no mobile */
    width: 100%;
    padding: 0 2%;
    text-align: center;
}

/* =========================
   BOTÃO DO MENU
========================= */
nav.menu-mobile button {
    background: none;
    border: none;
    padding: 10px;
    margin-left: auto;
    /* joga o botão para a direita */
    display: block;
    cursor: pointer;
}

/* ÍCONE */
nav.menu-mobile button img.icone {
    width: 28px;
    height: 28px;
    display: block;
    margin-bottom: 15px;
}

/* =========================
   LISTA DO MENU (FECHADO)
========================= */
nav.menu-mobile ul {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #ebeaea;
    list-style: none;
    padding: 0 2%;
    margin: 0;
    z-index: 999;
    border-radius: 10px;
    border: 1px solid color #ebeaea;
    overflow: hidden;
    /* MUITO IMPORTANTE */
}

/* =========================
   MENU ABERTO
========================= */
nav.menu-mobile ul.active {
    display: block;
}

/* =========================
   ITENS
========================= */
nav.menu-mobile ul li {
    width: 100%;
}

/* LINKS */
nav.menu-mobile ul li a {
    display: block;
    white-space: normal;
    word-break: break-word;
    padding: 14px 0;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
    text-align: center;
    position: relative;
    transition: color 0.3s ease;
}

/* =========================
   LINHA CONTÍNUA
========================= */
nav.menu-mobile ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #cfcfcf;
    transition: background-color 0.3s ease;
}

/* =========================
   HOVER
========================= */
nav.menu-mobile ul li a:hover {
    color: #698293;
}

nav.menu-mobile ul li a:hover::after {
    background-color: #698293;
}

/* =========================
   RESPONSIVO (EXEMPLO)
========================= */



header nav.menu-desktop {
    float: right;
}

header nav.menu-desktop ul {
    padding: 45px 0;
    list-style-type: none;
}

header nav.menu-desktop ul li {
    float: left;
    font-size: 13px;
    text-transform: uppercase;
    padding: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: rgb(124, 124, 124);
}

/*  ========== fim do padrao header ========  */

/**     ------     mosaico    -----    **/

.mosaico-single {
    float: left;
    width: calc(100% / 6);

}

.img-mosaico-single1 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single2 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto1.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single3 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto4.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single4 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto3.png");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single5 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto2.png");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single6 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto6.png");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single7 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto5.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single8 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto7.webp");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single9 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto8.png");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single10 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto9.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    /* background-position: center calc(100% + 25px);*/
    background-repeat: no-repeat;
}

.img-mosaico-single11 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto10.jpg");
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-mosaico-single12 {
    width: 100%;
    padding-top: 100%;
    background-color: #ccc;
    border: 3px solid white;
    background-image: url("../images/foto11.png");
    border-radius: 6px;
    background-size: cover;
    background-position: center calc(100% + 13px);
    background-repeat: no-repeat;
}


/*========  box-servicos  secao de mensagens, positivas ========  */
/*================================================================*/

section.servicos>.container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    position: relative;
    top: -40px;
    text-align: center;
}

section.servicos>.container .box-servicos h2 {
    color: white;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
}

section.servicos>.container .box-servicos p {
    color: white;
    margin-top: 12px;
    font-weight: normal;
    font-size: 12px;
}

section.servicos>.container .box-servicos:nth-of-type(1) {
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
    border-radius: 3px;
}

section.servicos>.container .box-servicos:nth-of-type(2) {
    width: 40%;
    padding: 65px 2%;
    background-color: #688293;
    border-radius: 3px;
    background-image: none;
}

section.servicos>.container .box-servicos:nth-of-type(3) {
    width: 30%;
    padding: 50px 2%;
    background-color: #576975;
    border-radius: 3px;
}

span.link-geral a {
    text-decoration: none;
    color: #698293;
    font-size: 14px;
    font-weight: normal;
}


/*==============  perfil, quem somos ===========*/

section.perfil-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 0;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

section.perfil-container:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
}

/* container central */
section.perfil-container .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
}

/* wrapper */
section.perfil-container .perfil-wraper {
    width: 100%;
}

/* FLEX PRINCIPAL */
section.perfil-container .perfil-wraper2 {
    display: flex;
    align-items: center;
    width: 100%;
}

/* IMAGEM */
section.perfil-container .perfil-wraper2 a {
    width: 50%;
    display: block;
}

section.perfil-container .perfil-wraper2 img {
    width: 100%;
    display: block;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

section.perfil-container .perfil-wraper2 img:hover {
    transform: scale(1.02);
}

/* TEXTO */
section.perfil-container .texto-perfil {
    width: 70%;
    padding-left: 16px;
}

section.perfil-container .texto-perfil h2 {
    color: #698293;
    font-size: 18px;
    margin-bottom: 6px;
}

section.perfil-container .texto-perfil p {
    color: #4b4b4b;
    font-size: 14px;
    line-height: 1.6;
}

section.perfil-container .texto-perfil a {
    text-decoration: none;
    color: #698293;
}


/*============== videos do youtube =========== */

section.videos {
    max-width: 900px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

section.videos:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
}

section.videos .container {
    max-width: 800px;
    margin: 0 auto;
}



section.videos {
    padding: 50px;
}

section.videos .texto-videos h2 {
    text-align: center;
    color: #698293;
    font-size: 18px;
    text-transform: uppercase;
}

section.videos .container .texto-videos p {
    max-width: 650px;
    margin: 0 auto;
}


section.videos .texto-videos p {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}



section.videos .box-videos {
    float: left;
    width: 33.3%;
    position: relative;
    padding-top: calc(33.3% * 0.6);

}

section.videos iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* =========== propaganda de empresas =============== */

section.sobre-japao {
    padding: 40px 0;
    max-width: 900px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

section.sobre-japao:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
}


section.sobre-japao .container {
    max-width: 800px;
    margin: 0 auto;
}

section.sobre-japao .container .texto-curiosidade {
    max-width: 800px;
    text-align: center;
    padding: 0 2%;
}

section.sobre-japao .container .texto-curiosidade h2 {
    color: #698293;
    font-size: 18px;
    text-transform: uppercase;
}

section.sobre-japao .container .texto-curiosidade p {
    color: #4b4b4b;
    font-size: 14px;
    margin-top: 8px;

}

section.sobre-japao .container .japao-wraper {
    padding-top: 40px;
}

section.sobre-japao .japao-wraper {
    position: relative;
    height: auto;
}

section.sobre-japao .japao-wraper2 {
    display: flex;
    align-items: center;
    width: 100%;
}

section.sobre-japao .img-sobrejapao {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-image: url('../images/agenscias5.png');
    background-size: cover;
    background-position: center;
    border-radius: 3%;
    margin-top: 35px;
}

section.sobre-japao .img-sobrejapao {
    display: block;
}

section.sobre-japao .img-sobrejapao1 {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-image: url('../images/empreiteirasjp.png');
    background-size: cover;
    background-position: center;
    border-radius: 3%;

}

section.sobre-japao .img-sobrejapao2 {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-image: url('../images/rumoaojapao.png');
    background-size: cover;
    background-position: center;
    border-radius: 3%;
}

section.sobre-japao .img-sobrejapao3 {
    width: 30%;
    aspect-ratio: 1 / 1;
    background-image: url('../images/regras.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 3%;
}

section.sobre-japao .img-sobrejapao,
section.sobre-japao .img-sobrejapao1,
section.sobre-japao .img-sobrejapao2,
section.sobre-japao .img-sobrejapao3 {
    transition: transform 1.09s ease;
}

section.sobre-japao .img-sobrejapao:hover,
section.sobre-japao .img-sobrejapao1:hover,
section.sobre-japao .img-sobrejapao2:hover,
section.sobre-japao .img-sobrejapao3:hover {
    transform: scale(1.03);
    border: 1px solid #688293;
}

section.sobre-japao .japao-texto {
    width: 70%;
    padding: 0 30px;
}

section.sobre-japao .japao-texto h2 {
    color: #698293;
    font-size: 18px;
    padding-bottom: 10px;
}

section.sobre-japao .japao-texto p {
    color: #4b4b4b;
    font-size: 14px;
    margin: 0 auto;
}

/*=================== secao engajamento ====================*/

section.oferta-trabalho {
    padding: 25px 2%;
    max-width: 900px;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border-radius: 25px;
}

section.oferta-trabalho:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
}


section.oferta-trabalho .container {
    padding-top: 50px;
}

section.oferta-trabalho .comum {
    float: left;
    width: 33.3%;
    border: 5px solid white;
    overflow: hidden;
}

section.oferta-trabalho .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/yakisoba.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.img-oferta {

    transition: transform 1.09s ease;
}

.img-oferta:hover {
    transform: scale(1.03);
    border: 1px solid #688293;
}

section.oferta-trabalho .oferta-container1 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/hinamatsuri.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container2 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/sion.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container3 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/trem-bala.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container4 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/proibidojp.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

section.oferta-trabalho .oferta-container5 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/TRABALHO2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container6 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/matsuri-2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container7 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/htour.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container8 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/sgarage.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .oferta-container9 .img-oferta {
    aspect-ratio: 1 / 1;
    background-image: url('../images/suado.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.oferta-trabalho .texto-container h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
    color: #698293;

}

section.oferta-trabalho .oferta-container {
    text-align: center;
}

section.oferta-trabalho .texto-oferta h2 {
    font-size: 18px;
    color: #737373;
    margin-top: 30px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
}

section.oferta-trabalho .texto-oferta p.oculto {
    display: none;
}

section.oferta-trabalho .texto-oferta p {
    max-height: 10px;
    font-size: 14px;
    color: #8d8d8d;
    margin-top: 15px;
    margin-bottom: 12px;
    text-align: center;
}

section.oferta-trabalho .saigo {
    display: none;
}

/*  --------------  comeco noticias   --------------   */
.noticias {
    padding: 25px 50px;
    max-width: 900px;
    background-color: white;
    margin: 0 auto;
    transition: transform 0.3s ease;
    border-radius: 25px;
    margin-top: 5px;
}

.noticias:hover {
    transform: scale(1.01);
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.35);
}

.noticias h2 {
    text-align: center;
    color: #688293;
    padding: 40px;

}

#news-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

#news-container article {
    background: #fff;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
}

#news-container article:hover {
    transform: scale(1.02);
    border: 1px solid #688293;
}

.news-img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

#news-container h3 {
    font-size: 16px;
    margin: 5px 0;
}

#news-container p {
    font-size: 14px;
    color: #444;
}

#news-container a {
    display: inline-block;
    margin-top: 8px;
    text-decoration: none;
    font-weight: bold;
    color: #688293;
}

/*  ---------fim noticias  ---------*/

/*============== compartilhar---------*/

.share-site {
    margin: 30px auto;
    max-width: 400px;
    text-align: center;
    font-size: 13px;
    color: #698293;
    padding-top: 20px;
}

.share-site span {
    display: block;
    margin-bottom: 10px;
}

.share-btn {
    border: 1px solid #698293;
    background: transparent;
    color: #698293;
    padding: 6px 10px;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    margin: 4px;
}

.share-btn:hover {
    background: #698293;
    color: #fff;
}

/* cores específicas (opcional) */
.share-btn.fb:hover {
    background: #1877f2;
    border-color: #1877f2;
}

.share-btn.wa:hover {
    background: #25d366;
    border-color: #25d366;
}

.share-btn.line:hover {
    background: #00c300;
    border-color: #00c300;
}

.share-btn.tw:hover {
    background: #000;
    border-color: #000;
}



/* ----- sessao intagram -------*/

section.social {
    padding: 70px 0;
}

.instagram-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #98a5ae;

}

.instagram-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}

.mosaico-social {
    float: left;
    width: 100%;
}

.img-mosaico-single-social {
    float: left;
    width: calc(100% / 9);
    padding-top: calc(100% / 9);
    background-color: rgb(210, 210, 210);
    border: 3px solid white;
}

.img-mosaico-single-social {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.facebook-chamada {
    float: left;
    width: 100%;
    text-align: center;
    padding: 40px 0;
    background: #688293;
}

.facebook-chamada a img {
    background-size: 25px;
}

.facebook-chamada p {
    line-height: 23px;
    color: white;
    padding: 10px 0;
    font-size: 13px;
}


footer {
    padding: 60px 2%;
    background-color: #688293;
    text-align: center;
}

footer .container {
    max-width: 1100px;
    margin: 0 auto;
}

footer .footer-block {
    float: left;
    width: 33.3%;
}

.footer-block a {
    text-decoration: none;
    font-weight: normal;
    color: white;
    font-size: 14px;
}

.footer-block h2 {
    color: white;
    font-weight: normal;
    font-size: 18px;
    margin: 0;
}

.footer-block p {
    margin-top: 8px;
    color: white;
    font-size: 14px;
}



@media screen and (max-width: 900px) {

    section.oferta-trabalho .comum {
        width: 50%;
    }

    /* Esconde o último item para ficar par (9 → 8) */
    section.oferta-trabalho .comum:nth-child(10) {
        display: none;
    }

    section.oferta-trabalho .saigo {
        display: block;
    }

}

@media screen and (max-width:855px) {
    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

}


@media screen and (max-width:800px) {

    section.curso .container .img-curso6,
    section.curso .container .img-curso7,
    section.curso .container .img-curso8,
    section.curso .container .img-curso9,
    section.curso .container .img-curso10,
    section.curso .container .img-curso11,
    section.curso .container .img-curso12,
    section.curso .container .img-curso13 {
        flex: none;
        display: block;
        width: 70%;
        height: 200px;
        margin: 0 auto 10px auto;
        background-size: contain;
    }

    section.curso .texto-curso {
        flex: 2 1 500px;
        /* texto ocupa mais espaço */
        color: #4b4b4b;

        /*background-color: #4b4b4b;*/
    }

    /*-----      secao engajamento    -----*/
    section.oferta-trabalho .comum {
        width: 50%;
    }

}




@media screen and (max-width:768px) {

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }

    section.servicos>.container {
        flex-direction: column;
        margin-top: 30px;
    }

    section.servicos>.container .box-servicos:nth-of-type(1) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(2) {
        width: 95%;
        max-width: 380px;
        padding: 50px 2%;

    }

    section.servicos>.container .box-servicos:nth-of-type(3) {
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }

    section.servicos>.container .box-servicos {
        background-image: none;

    }

    section.perfil-container .perfil-wraper2 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    section.perfil-container img {
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    section.perfil-container .texto-perfil {
        width: 90%;
        margin-top: 25px;
        padding: 0;
    }

    section.perfil-container .texto-perfil a {
        display: block;
        margin: 0 auto;
    }



    section.videos .box-videos {
        float: none;
        width: 90%;
        margin: 0 auto;
        padding-top: calc(90% * 0.6);
        border: 3px solid white;
    }



    /*---curiosidade japao---*/

    section.sobre-japao .container .texto-curiosidade {
        width: 80%;
        margin: 0 auto;
    }

    section.sobre-japao .japao-wraper .japao-texto {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;

    }

    section.sobre-japao .container .texto-curiosidade h2 {
        color: #698293;
        font-size: 18px;
        text-transform: uppercase;
    }

    section.sobre-japao .container .texto-curiosidade p {
        color: #4b4b4b;
        font-size: 14px;
        margin-top: 8px;
    }

    section.sobre-japao .japao-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 50%;
        display: inline-block;
    }



    section.sobre-japao .japao-texto {
        width: 80%;
        margin: 0 20px;
        margin-top: 25px;
    }

    .img-mosaico-single-social {
        width: calc(100% / 6);
        padding-top: calc(100% / 6);
    }

    .mosaico-social>div:nth-of-type(1n+7) {
        display: none;
    }



    footer {
        text-align: center;
    }

    footer .footer-block {
        float: none;
        width: 100%;
        margin: 30px 0;
    }

    nav.menu-desktop {
        display: none;
    }

    nav.menu-mobile {
        display: block;
    }


    section.br-container .br-wraper2 {
        display: inline-block;
        text-align: center;
    }

    section.br-container .img-perfil {
        width: 50%;
        display: inline-block;
    }

    section.br-container .texto-perfil-br {
        width: 80%;
        margin: 0 auto;
        margin-top: 25px;
    }

}

@media screen and (max-width:700px) {

    section.sobre-japao .japao-wraper .img-sobrejapao,
    section.sobre-japao .japao-wraper .img-sobrejapao1,
    section.sobre-japao .japao-wraper .img-sobrejapao2,
    section.sobre-japao .japao-wraper .img-sobrejapao3 {
        width: 90%;
    }

    section.sobre-japao .japao-texto p {
        width: 100%;
        font-size: 16px;

    }
}


@media (max-width: 600px) {



    section.empreiteiras-japao .box-empreiteira {
        flex-direction: column;

    }

    section.empreiteiras-japao .img-empreiteira {
        width: 100%;
    }

    section.empreiteiras-japao .img-empreiteira1 {
        width: 100%;
    }

    [class^="img-empreiteira"] {
        /* dessa forma é melhor pq já pego todas as class que começa com o nome da mesma*/
        width: 100%;
    }


    section.empreiteiras-japao .texto-empreiteira {
        flex: 2 1 200px;
        color: #4b4b4b;


    }

    section.sobre-japao .img-sobrejapao,
    section.sobre-japao .img-sobrejapao1,
    section.sobre-japao .img-sobrejapao2,
    section.sobre-japao .img-sobrejapao3 {
        width: 60%;
        display: inline-block;
    }



}

@media screen and (max-width:580px) {
    section.sobre-mim img {
        max-width: 300px;

    }


}

@media screen and (max-width: 548px) {

    section.oferta-trabalho .texto-oferta h2 {
        font-size: 16px;
    }
}

@media screen and (max-width:480px) {


    section.videos .box-videos {
        width: 100%;
        padding-top: calc(100% * 0.6);
    }

    section.sobre-mim img {
        max-width: 500px;
        padding: 15px 0;

    }

    .img-mosaico-single-social {
        width: calc(100% / 4);
        padding-top: calc(100% / 4);
    }

    .mosaico-social>div:nth-of-type(1n+5) {
        display: none;
    }


}