/* ===== SEÇÃO SHINKANSEN ===== */
.texto-trem {
    padding: 40px 2%;
}

/* IMAGEM PRINCIPAL */
.capa-trem {
    max-width: 1000px;
    margin: 0 auto ;
}

.capa-trem img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

/* BLOCO DE TEXTO */
.texto-wraper {
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.7;
    color: #333;
}

/* TÍTULO */
.texto-wraper h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #1f2d3d;
}

/* PARÁGRAFOS */
.texto-wraper p {
    font-size: 16px;
    margin-bottom: 18px;
}

/* LISTA */

.trem-list{
    margin-bottom: 20px;
    list-style-position: inside;
}

.body-trem .trem-list li{
    font-size: 18px;
}

/* DESTAQUES */
.texto-wraper strong {
    color: #1f2d3d;
}

.texto-wraper i {
    color: #698293;
}




.atualizacao{
    font-size: 13px;
    color: #777;
    text-align: center;
    margin: 40px 0 20px 0;
    font-style: italic;
}



/* RESPONSIVO */
@media screen and (max-width: 768px) {

    .texto-trem {
        padding: 40px 4%;
    }

    .capa-trem {
        margin-bottom: 25px;
    }

    .texto-wraper h2 {
        font-size: 24px;
    }

    .texto-wraper p,
    .lista-trem li {
        font-size: 15px;
    }
}